* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
  }
  
  #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #FF8F00;;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
  * {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
    background-color:lightgrey;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
  }


  .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #FF8F00;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
  }

  
.forms {
	background: #fff;
	box-shadow: 0 0 3px #000;
	margin: 30px auto;
	max-width: 800px;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.forms form { padding: 30px; }

.forms.second-page { padding: 30px; }
.forms .tab-group {
	list-style: none;
	padding: 0;
	margin: 0;
}
.forms .tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.forms .tab-group li a {
	display: block;
	text-decoration: none;
	padding: 7px;
	background: #e5e6e7;
	color: #888;
	font-size: 20px;
	float: left;
	width: 25%;
	text-align: center;
	border-top: 3px solid transparent;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover {
	background: #dedfdf;
	color: #666;
	border-top: 3px solid #cf4141;
}
.forms .tab-group .active a {
	background: #fff;
	color: #000000;
	border-top: 3px solid #cf4141;
}

.forms input {
	padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
}
.select1{
	padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
}

.forms input:focus {
	
	background: lightgrey;
}


  .text-center {
    text-align: center;
  }

.text-p { text-align: center; }
.text-p a { color: #1383ea; }

.input-container {
    display: inline-block;
    width: 100%;
    /* margin-bottom: 15px; */
  }

	p
	{
	color: red;
	display: block;

	}
	.nameinput{
		display: inline;
    }
    