* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
    background-color:lightgrey;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
  }


  .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #FF8F00;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
  }

  
.forms {
	background: #fff;
	box-shadow: 0 0 3px #000;
	margin: 30px auto;
	max-width: 600px;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.forms form { padding: 30px; }

.forms.second-page { padding: 30px; }
.forms .tab-group {
	list-style: none;
	padding: 0;
	margin: 0;
}
.forms .tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.forms .tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: #e5e6e7;
	color: #888;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	border-top: 3px solid transparent;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover {
	background: #dedfdf;
	color: #666;
	border-top: 3px solid #cf4141;
}
.forms .tab-group .active a {
	background: #fff;
	color: #444;
	border-top: 3px solid #cf4141;
}

.forms input {
	padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
}

.forms input:focus {
	
	background: lightgrey;
}

button,
  rerun-button {
    padding: 10px 20px;
    border-radius: 3px;
		background: #1AB297;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
  }
  button:hover,
  rerun-button:hover {
		background: #1AB297;
	}
	/*
  .button.rerun-button,
  .rerun-button.rerun-button {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
    display: none;
  }*/

  .text-center {
    text-align: center;
  }
/*.forms .button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #73cf41;
	color: #ffffff;
	cursor: pointer;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .button:hover, .button:focus { background: #56ae26; }*/
.text-p { text-align: center; }
.text-p a { color: #1383ea; }

.input-container {
    display: inline-block;
    width: 100%;
    /* margin-bottom: 15px; */
  }
.icon {
    padding: 10px;
    color: grey;
    text-align: center;
	}
	p
	{
	color: red;
	display: block;

	}
	.nameinput{
		display: inline;
	}
	.error{
		margin-top: -10px;
    margin-left: 44px;
	}
	